<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-home">
        <svg
          class="navbar-icon"
          width="82.256"
          height="82.256"
          version="1.1"
          viewBox="0 0 822.56 822.56"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        >
          <g transform="matrix(1.3333 0 0 -1.3333 -115.92 837.83)">
            <g transform="translate(703.86 319.91)">
              <path d="m0 0-308.46-308.46-308.46 308.46 308.46 308.46z" fill="currentColor"></path>
            </g>
            <g transform="translate(421.26 545.54)">
              <path d="m0 0-25.537-25.523-25.567 25.523 25.567 25.552z" fill="#fff"></path>
            </g>
            <g clip-path="url(#clipPath26)">
              <g transform="translate(381.55 484.02)">
                <path d="m0 0h28.73l-0.07-306.62c0-18.477-1.898-32.147-5.668-40.992-3.797-8.844-9.871-15.932-18.308-21.248-8.411-5.274-18.563-7.946-30.418-7.946-1.829 0-4.936 0.282-9.352 0.858l-5.301 26.705h7.326c8.227 0 14.527 0.984 18.858 3.023 4.359 1.969 7.805 5.514 10.35 10.576 2.532 5.104 3.797 15.862 3.797 32.315z" fill="#fff"></path>
              </g>
              <g transform="translate(280.34 460.42)">
                <path d="m0 0 201.64-211.23v200.26h28.799v-270.2l-201.63 210.85v-199.22h-28.813z" fill="#fff"></path>
              </g>
            </g>
          </g>
        </svg>
        <strong>{{ site.title }}</strong>
      </a>

      <ul class="navbar-links">
      {%- for entry in search.pages("menu.visible=true", "menu.order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {{ entry.data.menu.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>
